<header class="header fixed-top header-wrap" id="header">
  <div class="container">

    <nav class="navbar navbar-expand-lg">
      <a href="/" class="navbar-brand ">
        <img src="./assets/images/logo2.png" width="40" height="40" class="img-fluid"
          alt="maaratravels - logo">&nbsp;&nbsp;
        Maara Travels
      </a>

      <button class="navbar-toggler bar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto trvead">
          <li class="nav-item">
            <a class="nav-link scrollto active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#book-cab">Booking Cab</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#tarrif">Tarrif</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="#contact">Contact</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="tel:+919176055884">
              <img src="./assets/images/icons/phone-call.svg" class="img-fluid" alt="maaratravels">
              +91 9176055884</a>
          </li> -->
        </ul>
      </div>
    </nav>

  </div>
</header>