<footer class="footer" id="contact">
    <div class="footer-one">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="footerhead">
                        Maara Travels
                    </h1>
                    <p>We are the leading travelling agency to rent a car for weekend Trips, Special Honeymoon trips,
                        Outstation for Business Meetings, Local sightseeing, Destination Holidays or any other taxi
                        services you might need.</p>
                </div>
                <div class="col-md-6">
                    <h2 class="footerhead2">CONTACT INFO
                    </h2>

                    <div class="line-items">
                        <div class="line-itehead">Phone</div>
                        <div class="line-itempara"><a href="tel:+919176055884">+91 9176055884</a></div>
                    </div>
                    <div class="line-items">
                        <div class="line-itehead">Email</div>
                        <div class="line-itempara"><a
                                href="mailto:velmurugan@maaratravels.com">velmurugan@maaratravels.com</a></div>
                    </div>
                    <div class="line-items">
                        <div class="line-itehead">Location</div>
                        <div class="line-itempara">No 25 A/2, Valmiki Street,<br> Gandhi Nagar,Saligramam,<br>Chennai-600093
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-two cpy-right-sec-w3ls">
        <div class="container">
            <p class="copyriht mb-0">&copy; 2021 Maara Travels. All Rights Reserved.</p>
        </div>
    </div>
</footer>


<div class="talk-whatsup">
    <a href="tel:+919176055884">
        <img src="./assets/images/icons/call.svg" width="35" height="35" class="img-fluid" alt="logo"> <span>Call US</span>
    </a>
    <a href="https://wa.me/919176055884" target="_blank">
        <img src="./assets/images/icons/whatsapp.svg" width="35" height="35" class="img-fluid" alt="logo"> <span>Whatsapp</span>
    </a>
</div>