/* You can add global styles to this file, and also import other style files */
html,
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 16px;
    /* font-family: 'Rosario', sans-serif; */
    color: #444444;
    overflow-x: hidden;
    letter-spacing: 0.22px;
}
.container {
    max-width: 1260px;
}
.banner-home{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.spacing0sec{
    padding: 50px 0;
}
.head-space-com{
    color: #ff4e00;
    text-transform: capitalize;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;
}
.spacetxtpar{
    font-size: 18px;
    color: #777;
    letter-spacing: 1px;
}
p{
    color: #707579;
    font-size: 18px;  
}
@media only screen and (max-width: 1399px){
    .head-space-com {
        font-size: 36px;
    }
    p,.spacetxtpar{
        font-size: 16px;
    }
}
@media only screen and (max-width: 991px){
    html, body{
        font-size: 14px;
    }
    .spacing0sec {
        padding: 40px 0;
    }
    .head-space-com {
        font-size: 30px;
    }
    p, .spacetxtpar {
        font-size: 14px !important;
    }
    .container{
        max-width: 768px;
    }

}

@media only screen and (max-width: 767px){
    .container{
        max-width: 565px;
    }
}