<app-header></app-header>
<main class="main">
  <section class="banner-home banner-1" style="background-image: url('assets/images/BG-image.jpg');">
    <div class="container">
      <div class="form-home-main" id="book-cab">
        <div class="form-group">
          <input type="text" class="form-control" name="cname" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="cpn" placeholder="Phone Number">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="cemail" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="date" placeholder="Date">
        </div>
        <div class="form-group">
          <select id="pickuptime" name="pickuptime" class="form-control">
            <option value="">Choose Pickup Time</option>
            <option value="12 AM">12 AM</option>
            <option value="1 AM">1 AM</option>
            <option value="2 AM">2 AM</option>
            <option value="3 AM">3 AM</option>
            <option value="4 AM">4 AM</option>
            <option value="5 AM">5 AM</option>
            <option value="6 AM">6 AM</option>
            <option value="7 AM">7 AM</option>
            <option value="8 AM">8 AM</option>
            <option value="9 AM">9 AM</option>
            <option value="10 AM">10 AM</option>
            <option value="11 PM">11 PM</option>
            <option value="12 PM">12 PM</option>
            <option value="1 PM">1 PM</option>
            <option value="2 PM">2 PM</option>
            <option value="3 PM">3 PM</option>
            <option value="4 PM">4 PM</option>
            <option value="5 PM">5 PM</option>
            <option value="6 PM">6 PM</option>
            <option value="7 PM">7 PM</option>
            <option value="8 PM">8 PM</option>
            <option value="9 PM">9 PM</option>
            <option value="10 PM">10 PM</option>
            <option value="11 PM">11 PM</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="pickup" placeholder="Source(From)">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="dropup" placeholder="Destination(To)">
        </div>
        <!-- <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Oneway </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Round Trip</label>
          </div>
          
          </div> -->
        <div class="form-group">
          <select id="ccab" name="ccab" class="form-control">
            <option value="">Choose Vehicle</option>
            <option value="Sedan">Sedan</option>
            <option value="SUV">SUV</option>
          </select>
        </div>
        <div class="form-group">
          <select id="chooseroute" name="chooseroute" class="form-control">
            <option value="">Choose Route</option>
            <option value="One way">One way</option>
            <option value="Round Trip">Round Trip</option>
          </select>
        </div>
        <div class="submit-btn-max hIhJYl">
          <button class="btn">Book now</button>
        </div>
      </div>
    </div>
  </section>
  <section class="spacing0sec about" id="about">
    <div class="container">
      <div class="text-center text-sapcing-b">
        <div class="head-space-com">About Us</div>
        <p class="spacetxtpar">Your very own taxi company.</p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img src="./assets/images/about.jpg" class="img-fluid" alt="maaratravels">
        </div>
        <div class="col-lg-6">
          <div class="align-space-paras">
            <h2>When You Have A Choice... Choose Diamond
            </h2>
            <p>We are the leading travelling agency to rent a car for weekend Trips, Special Honeymoon trips, Outstation for Business Meetings, Local sightseeing, Destination Holidays or any other taxi services you might need.Lowest Rate In The Market,Hustle-Free Dorestep Pickup And Drop.We believe that good customer service will help us growing our business. We make sure that you have the best car, route, drivers throughout the travel.
            </p>
            <ul class="tic-info list-unstyled">
              <li>
                <span class="mr-2"><img src="./assets/images/icons/check-mark.svg" width="15" height="15" class="img-fluid" alt="logo"></span> Lowest Rate In The Market
              </li>
              <li>
                <span class="mr-2"><img src="./assets/images/icons/check-mark.svg" width="15" height="15" class="img-fluid" alt="logo"></span> Hustle-Free Dorestep Pickup And Drop
              </li>
              <li>
                <span class="mr-2"><img src="./assets/images/icons/check-mark.svg" width="15" height="15" class="img-fluid" alt="logo"></span> On Time Everytime.Daily Weekly Or Monthly Pickup
              </li>
              <li>
                <span class="mr-2"><img src="./assets/images/icons/check-mark.svg" width="15" height="15" class="img-fluid" alt="logo"></span> Safe And Comfortable Journey. Friends Outing. Family Vocation.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="spacing0sec tarrif banner-home" style="background-image: url('assets/images/orangebg.jpg');" id="tarrif">
    <div class="container">
      <div class="text-center text-sapcing-b">
        <div class="head-space-com clrwhite">Oneway Tarrif</div>
      </div>
      <div class="table-data">
        <table class="table table-striped table-bordered" style="color:#fff; font-weight:bold;">
          <thead>
            <tr>
              <th>Car Type</th>
              <th>Rate Per KM</th>
              <th>Driver Bata</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SEDAN</td>
              <td>12</td>
              <td>400<sup>*</sup></td>
            </tr>
            <tr>
              <td>XUV</td>
              <td>16</td>
              <td>400<sup>*</sup></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center text-sapcing-b">
        <div class="head-space-com clrwhite">Round Trip Tarrif
        </div>
      </div>
      <div class="table-data">
        <table class="table table-striped table-bordered" style="color:#fff; font-weight:bold;">
          <thead>
            <tr>
              <th>Car Type</th>
              <th>Rate Per KM</th>
              <th>Driver Bata</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SEDAN</td>
              <td>10</td>
              <td>400<sup>*</sup></td>
            </tr>
            <tr>
              <td>XUV</td>
              <td>13</td>
              <td>400<sup>*</sup></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="spacing0sec services" id="services">
    <div class="container">
      <div class="text-center text-sapcing-b">
        <div class="head-space-com">Services</div>
        <p class="spacetxtpar">Quality Of Service.</p>
      </div>

      <div class="row text-center justify-content-center">
        <div class="col-lg-4">
           <div class="icon-g">
            <img src="./assets/images/icons/clock.svg" width="30" height="30" class="img-fluid" alt="logo">
           </div>
           <div class="icontext">On Time Arrival
          </div>
          <p>We value your time. Do not worry about timings, our drivers are given special instructions about maintain the timing.

          </p>
        </div>
        <div class="col-lg-4">
          <div class="icon-g">
            <img src="./assets/images/icons/rupee-indian.svg" width="30" height="30" class="img-fluid" alt="logo">
           </div>
           <div class="icontext">Economical Price
          </div>
          <p>Though we are one of the leading taxi services in Chennai we still managed to charge in economical way. We value your money.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon-g">
            <img src="./assets/images/icons/check-mark.svg" width="30" height="30" class="img-fluid" alt="logo">
           </div>
           <div class="icontext">100% Safe Ride
          </div>
          <p>Our drivers are very professional and expert in navigation. We have given them special training on outstation trip driving.Your safety is our primary goal.          </p>
        </div>
      </div>

      <div class="skilldrivsds">
      <div class="row">
        <div class="col-md-4">
         <div class="skillset-img">
          <img src="./assets/images/driver.jpg"  class="img-fluid" alt="logo">
          <div class="showin-para">SKILLED DRIVERS
          </div>
         </div>
        </div>
        <div class="col-md-4">
          <div class="skillset-img">
            <img src="./assets/images/banner4.jpg"  class="img-fluid" alt="logo">
            <div class="showin-para">WELL MAINTAINED CAR
            </div>
           </div>
        </div>
        <div class="col-md-4">
          <div class="skillset-img">
            <img src="./assets/images/king.jpg"  class="img-fluid" alt="logo">
            <div class="showin-para">CUSTOMER IS OUR KING

            </div>
           </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section class="spacing0sec ourstates" id="ours">
  <div class="container">
    <div class="text-center text-sapcing-b">
      <div class="head-space-com clrblack">Our Stats
      </div>
    </div>
    <div class="our-custd">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="pluscount">10,000+
          </div>
          <div class="plus-cus">
            Passengers
          </div>
        </div>
        <div class="col-md-4">
          <div class="pluscount">1200

          </div>
          <div class="plus-cus">
            Cab Drivers

          </div>
        </div>
        <div class="col-md-4">
          <div class="pluscount">500

          </div>
          <div class="plus-cus">
            Cab Routes

          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <app-footer></app-footer>
</main>